In [1]:
import requests

In [2]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

In [3]:
#access solar system API data

all_bodies = requests.get("https://api.le-systeme-solaire.net/rest/bodies/")
Mercury = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Mercury")
Venus = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Venus")
Earth = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Earth")
Mars = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Mars")
Jupiter = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Jupiter")
Saturn = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Saturn")
Uranus = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Uranus")
Neptune = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Neptune")
Pluto = requests.get("https://api.le-systeme-solaire.net/rest/bodies/Pluto")

In [4]:
#extract statistical data for all moons in solar system

Moonstats_database = all_bodies.json()
extract_moon_data = [body for body in Moonstats_database['bodies'] if body['isPlanet'] is False]
data_allmoons = pd.json_normalize(extract_moon_data)

#extract planetdata and convert into dataframes

dfMercury = Mercury.json()
df_Mercury = pd.json_normalize(dfMercury)

dfVenus = Venus.json()
df_Venus = pd.json_normalize(dfVenus)

dfEarth = Earth.json()
df_Earth = pd.json_normalize(dfEarth)

dfMars = Mars.json()
df_Mars = pd.json_normalize(dfMars)

dfJupiter = Jupiter.json()
df_Jupiter = pd.json_normalize(dfJupiter)

dfSaturn= Saturn.json()
df_Saturn = pd.json_normalize(dfSaturn)

dfUranus = Uranus.json()
df_Uranus = pd.json_normalize(dfUranus)

dfNeptune = Neptune.json()
df_Neptune = pd.json_normalize(dfNeptune)

dfPluto = Pluto.json()
df_Pluto = pd.json_normalize(dfPluto)

In [5]:
#build a separate SQL table with all planets and their associated moons side by side in two columns

frames = [df_Earth, df_Mars, df_Jupiter, df_Saturn, df_Uranus, df_Neptune, df_Pluto]
df_Planets = pd.concat(frames)
del df_Planets['moons']

Earth_moons = [moon['moon'] for moon in dfEarth['moons']]
ear_df = pd.DataFrame(Earth_moons)
ear_df.columns = ['Earth']

Mars_moons = [moon['moon'] for moon in dfMars['moons']]
mar_df = pd.DataFrame(Mars_moons)
mar_df.columns = ['Mars']

Jupiter_moons = [moon['moon'] for moon in dfJupiter['moons']]
jup_df = pd.DataFrame(Jupiter_moons)
jup_df.columns = ['Jupiter']

Saturn_moons = [moon['moon'] for moon in dfSaturn['moons']]
sat_df = pd.DataFrame(Saturn_moons)
sat_df.columns = ['Saturn']

Uranus_moons = [moon['moon'] for moon in dfUranus['moons']]
ura_df = pd.DataFrame(Uranus_moons)
ura_df.columns = ['Uranus']

Neptune_moons = [moon['moon'] for moon in dfNeptune['moons']]
nep_df = pd.DataFrame(Neptune_moons)
nep_df.columns = ['Neptune']

Pluto_moons = [moon['moon'] for moon in dfPluto['moons']]
plu_df = pd.DataFrame(Pluto_moons)
plu_df.columns = ['Pluto']

melted_moon_frame = [ear_df, mar_df, jup_df, sat_df, ura_df, nep_df, plu_df]
df_Moons = pd.concat(melted_moon_frame, axis=1)

In [6]:
#Finalize SQL table with only planets and their moons

Vars = ['Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
moon_df = pd.melt(df_Moons, value_vars=Vars, var_name='planet', value_name='moon').dropna().reset_index(drop=True)

df_allmoons = pd.DataFrame(data_allmoons)

In [7]:
df_Planets

,id,name,englishName,isPlanet,semimajorAxis,perihelion,aphelion,eccentricity,inclination,density,...,alternativeName,axialTilt,avgTemp,mainAnomaly,argPeriapsis,longAscNode,mass.massValue,mass.massExponent,vol.volValue,vol.volExponent
0,terre,La Terre,Earth,True,149598262,147095000,152100000,0.0167,0.000,5.5136,...,,23.4393,288,358.6170,85.901,18.272,5.97237,24,1.08321,12
0,mars,Mars,Mars,True,227943824,206700000,249200000,0.0935,1.850,3.9341,...,,25.1900,210,19.4120,286.231,49.667,6.41712,23,1.63180,11
0,jupiter,Jupiter,Jupiter,True,778340821,740379835,816620000,0.0489,1.304,1.3262,...,,3.1200,165,20.0200,273.442,100.398,1.89819,27,1.43128,15
0,saturne,Saturne,Saturn,True,1426666422,1349823615,1503509229,0.0565,2.485,0.6871,...,,26.7300,134,317.0200,336.178,113.759,5.68336,26,8.27130,14
0,uranus,Uranus,Uranus,True,2870658186,2734998229,3006318143,0.0457,0.772,1.2700,...,,97.7700,76,142.2386,98.862,73.967,8.68127,25,6.83300,13
0,neptune,Neptune,Neptune,True,4498396441,4459753056,4537039826,0.0113,1.769,1.6380,...,,28.3000,55,256.2280,256.932,131.823,1.02413,26,6.25400,13
0,pluton,Pluton,Pluto,True,5906440628,4436756954,7376124302,0.2488,17.160,1.8900,...,,122.5000,44,14.5300,113.175,110.088,1.30300,22,7.15000,9

In [8]:
df_allmoons

,id,name,englishName,isPlanet,moons,semimajorAxis,perihelion,aphelion,eccentricity,inclination,...,rel,mass.massValue,mass.massExponent,vol.volValue,vol.volExponent,aroundPlanet.planet,aroundPlanet.rel,vol,aroundPlanet,mass
0,lune,La Lune,Moon,False,None,3.844000e+05,363300,405500,0.05490,5.145,...,https://api.le-systeme-solaire.net/rest/bodies...,7.346,22.0,2.19680,10.0,terre,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
1,phobos,Phobos,Phobos,False,None,9.376000e+03,9234,9518,0.01510,1.075,...,https://api.le-systeme-solaire.net/rest/bodies...,1.060,16.0,5.78361,3.0,mars,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
2,deimos,Deïmos,Deimos,False,None,2.345800e+04,23456,23471,0.00020,1.075,...,https://api.le-systeme-solaire.net/rest/bodies...,2.400,15.0,9.99780,3.0,mars,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
3,io,Io,Io,False,None,4.218000e+05,0,0,0.00400,0.036,...,https://api.le-systeme-solaire.net/rest/bodies/io,8.932,22.0,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
4,europe,Europe,Europa,False,None,6.711000e+05,0,0,0.00900,0.466,...,https://api.le-systeme-solaire.net/rest/bodies...,4.800,22.0,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,s2004s36,S/2004 S 36,,False,None,2.369870e+07,0,0,0.66700,147.600,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
269,s2004s37,S/2004 S 37,,False,None,1.600330e+07,0,0,0.50600,164.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
270,s2004s38,S/2004 S 38,,False,None,2.300620e+07,0,0,0.38100,155.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
271,s2004s39,S/2004 S 39,,False,None,2.279040e+07,0,0,0.08100,167.600,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
272,c2020f3-neowise,C/2020 F3 (NEOWISE),,False,None,4.069062e+10,0,0,0.99921,128.930,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
moon_df

      planet      moon
0      Earth   La Lune
1       Mars    Phobos
2       Mars    Deïmos
3    Jupiter        Io
4    Jupiter    Europe
..       ...       ...
205    Pluto    Charon
206    Pluto       Nix
207    Pluto     Hydra
208    Pluto  Kerberos
209    Pluto      Styx

[210 rows x 2 columns]

In [10]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:admin123@localhost:5432/API')

In [11]:
#send all statistical planet data to SQL table "planets"
df_Planets.to_sql('planets', engine)

#send all statistical moon data to SQL table "moons"
df_allmoons.to_sql('moons', con=engine)

#send a list of planets and their pertaining moons to SQL (two columns to "moons_melted")
moon_df.to_sql('moons_melted', con=engine)